.home {
  font-size: 20px;
}
.user-list {
  width: 100%;
  border: 1px solid #ccc;
}
.user-list thead {
  background-color: #47a4a5;
  border-bottom: 1px solid #ccc;
}
.user-list thead th {
  height: 40px;
  line-height: 40px;
}
.user-list td {
  padding: 8px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.user-list tr td:last-child {
  border-right: 0;
}
.user-list tr:last-child td {
  border-bottom: 0;
}
.user-list td.operator span {
  margin: 0 10px;
  cursor: pointer;
}
.user-list td.operator span:hover {
  color: red;
}
