body {
  margin: 0;
  padding: 0;
  background: #1d79a0;
}
.login {
  width: 100%;
  padding-top: 12%;
  margin: 0 auto;
  text-align: center;
}
.title {
  font-size: 36px;
  color: #fff;
}
.login-form input {
  padding: 3px 12px;
  margin: 8px auto;
  width: 210px;
  height: 30px;
  border: 1px solid #999;
  display: block;
  font-size: 14px;
}
.login-form .error {
  color: red;
}
.login-button {
  display: inline-block;
  margin: 10px auto;
  padding: 8px 16px;
  color: #fff;
  background: #47a4a5;
  cursor: pointer;
  border: 1px solid #5e9983;
}
.login-button:hover {
  background: #317da5;
}
.login-button:active {
  background: #3061a5;
}
