.top-nav {
  background-color: #47a4a5;
  height: 52px;
  text-align: center;
  ul {
    margin: 0;
  }
  ul li {
    padding: 0 35px;
    line-height: 52px;
    list-style: none;
    display: inline-block;
    color: #fff;
    &:hover {
      background: #1d79a0;
      cursor: pointer;
    }
  }
}